-r requirements.txt

pytest==5.3.5
pytest-sanic==1.6.0
sphinx==2.4.4
coverage==4.5.1
pytest-cov==2.8.1
pytest-runner==5.2
ipdb==0.13.2
pytest-flake8==1.0.4
pytest-black-multipy==1.0.0
asynctest==0.13.0
aiohttp==3.6.2
Faker==4.0.2
reportlab==3.5.47
requests==2.24.0
mock==4.0.2